@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --tenne-twany: #d65108;
  --tenne-tawny-dark: #b54507;
}
body {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  font-family: "poppins", sans-serif;
}

/* */
.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
}
.text {
  opacity: 0;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* */
.container {
  min-height: 100vh;
}

.Meal-wrapper {
  max-width: width 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
}
.Meal-search {
  margin: 1rem 0;
}
.Meal-search cite {
  font-size: 1rem;
}
.Meal-search-box {
  margin: 2rem;
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.search-control {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--tenne-twany);
  color: var(--tenne-twany);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.search-control::placeholder {
  color: var(--tenne-twany);
}
.search-btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background: var(--tenne-twany);
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
}
.search-button:hover {
  background: var(--tenne-tawny-dark);
}
.Meal-result {
  margin-top: 2rem;
}
#meal {
  margin: 2.4rem;
}
.Meal-item {
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.Meal-img img {
  width: 100%;
  display: block;
}
.recipe-btn {
  text-decoration: none;
  color: #fff;
  background: var(--tenne-twany);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  transition: all 0.4 linear;
}
.recipe-btn:hover {
  background: var(--tenne-tawny-dark);
}

/* Meal details */
.meal-details::-webkit-scrollbar {
  width: 10px !important;
}
.Meal-details::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 2rem;
}

/* js related */
.showRecipe {
  display: block;
}

.Meal-details-content {
  margin: 1px;
  padding: 1px;
  position:sticky;
  margin-top: 10px;
}
.Meal-details-content p:not(.recipe-category) {
  padding: 1px;
}

.recipe-close-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 2;
  z-index: 999;
}
.recipe-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
  display: flex;
}
.recipe-category {
  background: #fff;
  font-weight: 600;
  color: var(--tenne-twany);
  display: flex;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}

.recipe-instructions {
  padding: 1rem 0;
  display: block;
}

.recipe-Meal-img img {
  width: 400px;
  height: 300px;
  border-radius: 2rem;
  margin: 0 auto;
  display: block;
}

.recipe-link {
  margin: 1.4rem 0;
}
.recipe-link a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4 linear;
}

.recipe-link a:hover {
  opacity: 0.8;
}

/*  */
.notfound {
  grid-template-columns: 1fr !important;
  color: var(--tenne-twany);
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  justify-content: center;
}

.recipe-title {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  font-size: xxx-large;
  margin-right: 7rem;
  font-family: Algerian;
  justify-content: center;
}

.recipe-category {
  text-align: center;
  justify-content: center;
  margin-right: 17rem;
  margin-left: 11rem;
  margin-top: 4rem;
}

/* Media queries*/

@media screen and (min-width: 600px) {
  #meal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .Meal-item {
    margin: 0;
  }
  .Meal-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #meal {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* TO change layout when the page is shorten */
@media screen and (max-width: 1000px) {
  .top_contents {
    display: flex;
    flex-direction: column;
  }
  .recipe-title {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    padding: 0px;
    justify-content: center;
  }
  .recipe-Meal-img img {
    justify-content: center;
    padding: 0px;
  }
  .recipe-category {
    justify-content: center;
    margin-top: 1px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
